body {
    margin: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}

.color_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    margin-top: 50px;
}

h2 {
    width: 100%;
    text-align: center;
    line-height: 4rem;
    margin: 0;
}

input {
    height: 200px;
    width: 100%;
    border: none;
    padding: 0;
}


.alternatives {
    display: flex;
    width: 100%;
}

.alternative_color {
    margin-top: 4rem;
    height: 200px;
    width: 100%
    background-color: pink;
}

.alternative3 .alternative_color {
    margin-top: 0;
}

.display_value {
    height: 1rem;
}

.code_display {
    padding: 5px;
}

.original_color, .alternative3 {
    background-color: rgba(0, 0, 0, 0.1);
}

.color {
    width: 20%;
}

@media screen and (max-width: 1023px) {
    .alternatives {
        flex-direction: column;
        align-items: center;
    }

    .color {
        width: 100%;
    }

    .alternative_color {
        margin-top: 20px;
    }

    h1, p {
        margin: 20px;
    }
}
