body {
    background: whitesmoke;
}

.color_display {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

input {
    height: 200px;
    width: 200px;
    border: none;
}

.alternatives {
    display: flex;
}

.alternative_color {
    height: 200px;
    width: 200px;
    background-color: pink;
}

.display_value {
    height: 1rem;
}
